*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    cursor: pointer;

}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;

}

.text-center{
    text-align: center;
}


/* main style */

header{
    /* background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header-bg.png),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px; */

    background-color: #FFF8F3;
    background-image: 
        url("../images/developer.png"),
        url("../images/header-bg.png");
    
    background-position:
        top left,
        bottom right;
    
    background-repeat:
        no-repeat,
        no-repeat;
    
    padding-top: 50px;
        


}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}


#banner{
    /* border: 1px solid; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    color: #181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;

}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}



#about , #skills , #resume{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}


#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    font-weight: 400;
}

.about-info .info-card h4{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;

}



#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}

.skills-box .skills-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000005e;
}
.skills-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skills-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.skills-card p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}



#resume .resume-container{
    width: 71%;
    max-width: 1440px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .card-text{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}
.resume-container hr{
    margin: 30px 0;
}


footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 117px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 25px;
}

.footer-container .social p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}